<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}

{% seo %}
  </head>

  <body>

    <header>
      <div class="container">
        <a id="a-title" href="../index.md">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
        </a>
        <center>
          <table style="height: 21px;" width="100%">
              <tbody>
                  <tr>
                  <td style="width: 33%;"><h3><a href="../index.html"><center>Home</center></a></h4></td>
                  <td style="width: 33%px;"><h3><a href="../research.html"><center>Research</center></a></h4></td>
                  <td style="width: 33%px;"><h3><a href="../research.html"><center>Blog</center></a></h4></td>
                  <td style="width: 33%px;"><h3><a href="../teaching.html"><center>Teaching</center></a></h4></td>
                  </tr>
              </tbody>
          </table>
        </center>
        <!-- <section id="downloads">
          {% if site.show_downloads %}
            <a href="{{ site.github.zip_url }}" class="btn">Download as .zip</a>
            <a href="{{ site.github.tar_url }}" class="btn">Download as .tar.gz</a>
          {% endif %}
          <a href="{{ site.github.repository_url }}" class="btn btn-github"><span class="icon"></span>View on GitHub</a>
        </section> -->
      </div>
    </header>

    <div class="container">
      <section id="main_content">
        {{ content }}
      </section>
    </div>
  </body>
</html>
